<ion-header>
  <header>Accounts</header>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item no-lines>
      <button ion-button (click)="createAccount()">New</button>
      <button ion-button (click)="addAccount()">Add</button>
      <button item-end ion-button color="warn">Edit</button>
    </ion-item>
    <button ion-item
      *ngFor="let account of accountProvider.allAccounts()" (click)="selectAccount(account)">
      <ion-icon name="person" item-start></ion-icon>
      <h2>{{account.name}}</h2>
      <ion-icon *ngIf="account == accountProvider.activeAccount()" name="checkmark" item-end></ion-icon>
      <ion-icon *ngIf="account.pKey" name="key" item-end></ion-icon>
      <button ion-button item-end outline color="light"
        (click)="goToDetailsPage($event, account)">
        details
      </button>
    </button>
  </ion-list>
</ion-content>