<ion-header>
  <header>{{ account.name }}</header>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="account.address">
    <ion-segment [(ngModel)]="showKey" *ngIf="account.pKey">
      <ion-segment-button value="address">Address</ion-segment-button>
      <ion-segment-button value="pKey">PKey</ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="showKey" class="showKey">
      <ion-list no-lines *ngSwitchCase="'address'">
        <ngx-qrcode [qrc-value]="account.address" qrc-errorCorrectionLevel="L" qrc-version="5"></ngx-qrcode>
        <ion-item text-center class="key">{{ account.address }}</ion-item>
      </ion-list>
      <ion-list no-lines *ngSwitchCase="'pKey'">
        <ngx-qrcode [qrc-value]="account.pKey" qrc-errorCorrectionLevel="L" qrc-version="8"></ngx-qrcode>
        <ion-item text-center class="key">{{ account.pKey }}</ion-item>
      </ion-list>
    </div>
  </ion-card>
</ion-content>