<ion-header>
  <header>Transfer</header>
</ion-header>

<ion-content padding>
  <form>
    <ion-list>
      <ion-item>
        <ion-label floating *ngIf="selectedCurrencySymbol">Currency</ion-label>
        <ion-select name="selectedCurrencySymbol" required
            [(ngModel)]="selectedCurrencySymbol" placeholder="Select a Currency">
          <ion-option *ngFor="let token of getPositivePortfolio()"
            [value]="token.currency.symbol">{{token.currency.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="selectedCurrencySymbol">
        <ion-label floating>Amount in {{ selectedToken.currency.symbol }} (Max  {{ selectedToken.balance }} )</ion-label>
        <ion-input name="selectedAmount" [(ngModel)]="selectedAmount" 
            type="number" max="{{ selectedToken.balance }}" required></ion-input>
      </ion-item>
      <ion-item *ngIf="selectedCurrencySymbol">
        <ion-label floating *ngIf="selectedAccount">Beneficiary</ion-label>
        <ion-select name="selectedAccount" [(ngModel)]="selectedAccount"
            placeholder="Select a Beneficiary" required>
          <ion-option *ngFor="let account of accountProvider.otherAccounts()"
            [value]="account.address">{{ account.name }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <button ion-button block type="submit"(click)="transfer()"
        [disabled]="!selectedCurrencySymbol || !selectedAmount || !selectedAccount">Transfer</button>
  </form>
</ion-content>