<ion-header>
  <header>Portfolio</header>
</ion-header>

<ion-content padding>
  <ion-list inset>
    <button ion-item *ngFor="let token of activeAccount.portfolio" (click)="goToDetailsPage(token)">
      <ion-avatar item-start>
        <img *ngIf="token.currency.symbol" src="../../../assets/imgs/currencies/{{token.currency.image}}.png"
        />
      </ion-avatar>
      <h2>{{ activeAccountBalance(token) }}</h2>
      <button item-end ion-button icon-end solid
        *ngIf="activeAccountCanSend(token)"
        (click)="startTransfer(token, $event)">
        Send
        <ion-icon name="card"></ion-icon>
      </button>
    </button>
  </ion-list>
</ion-content>